
.div-head{
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color:white;
    margin-top: 5%;
}

.div_menu {
    text-align: right;
    flex-grow: 1;
}

.div_menu a {
    color: black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    display: inline; 
    margin-right: 15px;
    margin-top: 10px;
}

.div_menu a:hover {
    text-decoration: none;
    color: #f35c51;
}



.container-div{
    display: flex;
}

.container-colum{
    font-size: 21px;
    font-weight: bold;
    padding: 0%;
    flex: 1;
}

.container-double {
    width: 67%;
}

.container-double img{
    width: 97%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 1%;
}
    

.container-one{
    font-family: "Inter", sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
    color: #f2b870;
    background: #00001a;
    padding: 2%;
    width: 33%;
}

p {
    color:#00001a;
    font-family: 'Inter', sans-serif;
    right: 140px;
    width: 390px;
}

.container-one > .div-new-t {
    padding-bottom: 35px;
    margin-bottom: 10px;
    position: relative; 
}
.container-one > .div-new-t::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 98%;
    border-bottom: 1px solid #484862;
}

.container-colum h1, p, h4{
    font-family: 'Inter', sans-serif;
}

.div-P-booton p{
    font-family: 'Inter', sans-serif;
    color: #7a777e;
    margin-bottom: 16%;
    font-size: 15px;
}

.div-P-booton button {
    background-color: #00011a; 
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer; 
  }

.div-P-booton button:hover {
    background-color: #f35c51;
    color: white;
}

.div-news h4{
    margin: 5%;
    margin-bottom: 5px;
}

#new-one{
    font-size: 17px;
    color:#f0f1f6;
}
#new-one:hover{
    font-size: 17px;
    color:#f2b870;
}

#new-one-p{

    font-size: 12px;
    color:#87879e;
}
.container-colum {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container-colum-img {
    width: 50%;
}

.container-colum img {
    width: 95%;
}

.container-colum-text {
    width: 50%;
    font-size: 18px;
    padding: 0 20px;
}

.container-colum-text h1 {
    margin-bottom: -5%;
    color: #c9c8cf;
}

.container-colum-text h4 {
    margin-bottom: -2%;
    color: #1a162e;
}

.container-colum-text h4:hover {
    margin-bottom: -2%;
    color:#f35c51;
}

.container-colum-text p {
    width: 50%;
    color: #9b989f;
}

/*--------movil--------------------*/
@media only screen and (max-width: 375px) {
    .container-double {
        width: 100%;
    }

    .container-double img {
        width: 100%;
    }

    .container-one {
        width: 100%;
        padding: 2%;
    }

    p {
        width: 100%;
        right: 0;
    }

    /* Ajustes adicionales según sea necesario */
}