/*---------------------------------------------------------*/
.div-head{
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color:white;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.div_menu {
    text-align: right;
    flex-grow: 1;
}

.div_menu a {
    color: black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    display: inline; 
    margin-right: 15px;
    margin-top: 10px;
}

.div_menu a:hover {
    text-decoration: underline;
}

/*---------------------------------------------------------*/
p {
    color:#00001a;
    font-family: 'Inter', sans-serif;
    right: 140px;
    width: 300px;
    padding: 10px;
}

.div-news{
    position: absolute;
    font-family: 'Inter', sans-serif;
    color: #f2b870;
    margin-top: 50px;
    right: 140px;
    width: 300px;
    padding: auto;
    background: #00001a;
    
}

#new-one{
    color:#f9f9fe;
}

.div-news h4{
    margin: 10px;
    margin-bottom: 5px;
}

.div-news h1 {
    margin-bottom: 5px; 
    margin-left: 10px;
}
.div-news p{
    margin-top: 5px;
}

.div-img-one{
    margin-top: 50px;
    left: 140px;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: auto;
    position: absolute;
    right: 0;
}

.div-img-one img {
    width: 710px;
    height: auto;
}
